datatype Binary : num

datatype Carry : num

datacons Zero : Binary 0

datacons PZero : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n)

datacons POne : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n + 1)

datacons CZero : Carry 0

datacons COne : Carry 1

val plus :
   ∀i, k, n. Carry i → Binary k → Binary n → Binary (n + k + i)
