newtype Binary : num

newtype Carry : num

newcons Zero : Binary 0

newcons PZero : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n)

newcons POne : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n + 1)

newcons CZero : Carry 0

newcons COne : Carry 1

val plus :
   ∀i, k, n. Carry i → Binary k → Binary n → Binary (n + k + i)
