newtype Binary : num

newcons Zero : Binary 0

newcons PZero : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n)

newcons POne : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n + 1)

val ub :
   ∀k, n.
   Binary k → Binary n → ∃i[i ≤ n + k ∧ k ≤ i ∧
     n ≤ i].Binary i
