newtype Binary : num

newcons Zero : Binary 0

newcons PZero : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n)

newcons POne : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n + 1)

newtype Ex4 : num * num

newcons Ex4 : ∀i, k, n[i ≤ n + k ∧ n ≤ i ∧ k ≤ i ∧ 0 ≤ k ∧
   0 ≤ n].Binary i ⟶ Ex4 (n, k)

val ub :
   ∀k, n.
   Binary k → Binary n → ∃4:i[i ≤ n + k ∧ n ≤ i ∧ k ≤ i ∧
     0 ≤ k ∧ 0 ≤ n].Binary i
