datatype Binary : num

datacons Zero : Binary 0

datacons PZero : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n)

datacons POne : ∀n[0 ≤ n].Binary n ⟶ Binary (2 n + 1)

val ub :
   ∀k, n.
   Binary k → Binary n → ∃i[k ≤ i ∧ n ≤ i ∧
     i ≤ n + k].Binary i
