datatype Tree : type * num

datatype Forest : type * num

datatype Heap : type * num * num

datacons Node : ∀a, k [0≤k]. Num k * a * Forest (a, k) ⟶ Tree (a, k)

datacons TCons :
  ∀a, n [0≤n]. Tree (a, n) * Forest (a, n) ⟶ Forest (a, n+1)

datacons TNil : ∀a. Forest (a, 0)

datacons HCons :
  ∀a, k, m, n [0≤k ∧ k+1≤m ∧ m≤n].
    Tree (a, k) * Heap (a, m, n) ⟶ Heap (a, k, n)

datacons HNil : ∀a, n. Heap (a, n, n)

external compare : ∀i, j. Num i → Num j → Order (i, j)

external let leq : ∀a. a → a → Bool = "(<=)"

val rank : ∀a, n. Tree (a, n) → Num n

val link : ∀a, n. (Tree (a, n), Tree (a, n)) → Tree (a, n + 1)

val ins_tree : ∀a, n, k, m. Tree (a, k) → Heap (a, m, n) →
            ∃i, j[min (i, k, m) ∧ max (j, k, n) ∧ 0 ≤ i ∧ 0 ≤ j].
               Heap (a, i, j)

val merge :

val remove_min_tree :

val delete_min :
