datatype Tree : type * num

datatype Forest : type * num

datacons Node : ∀k, a[0 ≤ k].Num k * a * Forest (a, k) ⟶ Tree (a, k)

datacons TCons : ∀n, a[0 ≤ n].Tree (a, n) * Forest (a, n) ⟶
   Forest (a, n + 1)

datacons TNil : ∀a. Forest (a, 0)

external val leq : ∀a. a → a → Bool

val rank : ∀n, a. Tree (a, n) → Num n

val link : ∀n, a. (Tree (a, n), Tree (a, n)) → Tree (a, n + 1)
