newtype Ty : type

newtype Int

newtype List : type

newcons Zero : Int

newcons Nil : ∀a. List a

newcons TInt : Ty Int

newcons TPair : ∀a, b. Ty a * Ty b ⟶ Ty (a, b)

newcons TList : ∀a. Ty a ⟶ Ty (List a)

newtype Bool

newcons True : Bool

newcons False : Bool

external eq_int : Int → Int → Bool

external b_and : Bool → Bool → Bool

external b_not : Bool → Bool

external forall2 : ∀a, b. (a → b → Bool) → List a → List b → Bool

val equal1 : ∀a, b. (Ty a, Ty b) → a → a → Bool