datatype Ty : type

datatype List : type

datacons Nil : ∀a. List a

datacons TInt : Ty Int

datacons TPair : ∀a, b.Ty a * Ty b ⟶ Ty ((a, b))

datacons TList : ∀a.Ty a ⟶ Ty (List a)

external val zero : Int

external val eq_int : Int → Int → Bool

external val b_and : Bool → Bool → Bool

external val b_not : Bool → Bool

external forall2 :
   ∀a, b. (a → b → Bool) → List a → List b → Bool

val equal : ∀a, b. (Ty a, Ty b) → a → b → Bool
