newtype Bool

newtype List : type * num

newcons True : Bool

newcons False : Bool

newcons LNil : ∀a. List(a, 0)

newcons LCons : ∀n, a [0≤n]. a * List(a, n) ⟶ List(a, n+1)

val filter : ∀n, a. (a → Bool) → List (a, n) → ∃2:k[k ≤ n ∧ 0 ≤ n ∧
       0 ≤ k].List (a, k)