newtype List : type * num

newcons LNil : ∀a. List (a, 0)

newcons LCons : ∀n, a[0 ≤ n].a * List (a, n) ⟶ List (a, n + 1)

newtype Ex2 : num * type

newcons Ex2 : ∀k, n, a[0 ≤ k ∧ k ≤ n].List (a, k) ⟶ Ex2 (n, a)

val filter :
   ∀n, a, b.
   (a → Bool) → (a → b) → List (a, n) → ∃2:k[0 ≤ k ∧
     k ≤ n].List (b, k)
