newtype Bool

newtype List : type * num

newcons True : Bool

newcons False : Bool

newcons LNil : ∀a. List(a, 0)

newcons LCons : ∀n, a [0≤n]. a * List(a, n) ⟶ List(a, n+1)

val flatten_pairs : ∀n, a. List ((a, a), n) → List (a, n + n)