datatype Array : type * num

external val array_make : ∀n, a[0 ≤ n]. Num n → a → Array (a, n)

external val array_get :
   ∀n, k, a[0 ≤ k ∧ k + 1 ≤ n]. Array (a, n) → Num k → a

external val array_set :
   ∀n, k, a[0 ≤ k ∧ k + 1 ≤ n]. Array (a, n) → Num k → a → ()

external val array_length : ∀n, a[0 ≤ n]. Array (a, n) → Num n

datatype LinOrder

datacons LE : LinOrder

datacons GT : LinOrder

datacons EQ : LinOrder

external val compare : ∀a. a → a → LinOrder

external val equal : ∀a. a → a → Bool

external swap :
   ∀n, k, i, a[0 ≤ n ∧ 0 ≤ k ∧ k + 1 ≤ i ∧ n + 1 ≤ i].
   Array (a, i) → Num k → Num n → ()

val insertSort : ∀n, a[1 ≤ n]. Array (a, n) → ()
