datatype Array : type * num

external val array_make : ∀n, a[0 ≤ n]. Num n → a → Array (a, n)

external val array_get :
   ∀n, k, a[0 ≤ k ∧ k + 1 ≤ n]. Array (a, n) → Num k → a

external val array_set :
   ∀n, k, a[0 ≤ k ∧ k + 1 ≤ n]. Array (a, n) → Num k → a → ()

external val array_length : ∀n, a[0 ≤ n]. Array (a, n) → Num n

external val n2i : ∀n. Num n → Int

external val equal : ∀a. a → a → Bool

external val leq : ∀a. a → a → Bool

external val print : String → ()

external val string_make : Int → String → String

external val string_of_int : Int → String

external val abs : Int → Int

external val minus : Int → Int → Int

external val plus : Int → Int → Int

external val int0 : Int

external showposts :
   ∀n[0 ≤ n].
   Array (Int, n) → Array (Int, n) → Array (Int, n) → Num n → ()

val move :
   ∀i, j, k, m, n[n ≤ k ∧ 1 ≤ i ∧ i ≤ k ∧ 0 ≤ j ∧
   j + 1 ≤ k ∧ m ≤ n + 1 ∧ j + m ≤ k ∧ m ≤ i].
   Num k → Num m → Array (Int, k) → Num j → Array (Int, k) →
     Num i → Array (Int, k) → Num n → ()
