datatype Bounded : num * num

datacons Index : ∀i, k, n[n ≤ i ∧ i ≤ k].Num i ⟶ Bounded (n, k)

val ffor :
   ∀i, j, k, n[j ≤ i ∧ k ≤ n].
   Num n → Num j → (Bounded (k, i) → ()) → ()
