external type Matrix : num * num

external val matrix_make :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Num n → Num k → Matrix (n, k)

external val matrix_get :
   ∀n, k, i, j[0 ≤ i ∧ i + 1 ≤ n ∧ 0 ≤ j ∧ j + 1 ≤ k].
   Matrix (n, k) → Num i → Num j → Float

external val matrix_set :
   ∀n, k, i, j[0 ≤ i ∧ i + 1 ≤ n ∧ 0 ≤ j ∧ j + 1 ≤ k].
   Matrix (n, k) → Num i → Num j → Float → ()

external val matrix_dim1 :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Matrix (n, k) → Num n

external val matrix_dim2 :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Matrix (n, k) → Num k

external val n2f : ∀n. Num n → Float

external val equal : ∀a. a → a → Bool

external val leq : ∀a. a → a → Bool

external val less : ∀a. a → a → Bool

external val minus : Float → Float → Float

external val plus : Float → Float → Float

external val mult : Float → Float → Float

external val div : Float → Float → Float

external val fl0 : Float

val snd : ∀a, b. (b, a) → a

val is_neg_aux :
   ∀i, j, k, n[0 ≤ n ∧ 1 ≤ i ∧ k ≤ j + 1].
   Matrix (i, j) → Num k → Num n → Bool

val is_neg :
   ∀i, k, n[1 ≤ k ∧ n ≤ i + 1]. Matrix (k, i) → Num n → Bool

val unb1 :
   ∀i4, j4, k4, l1, l4, m4, n4, n7[n7 ≤ m4 ∧ j4 ≤ l4 + 1 ∧
   1 ≤ m4 ∧ l1 ≤ n4 + i4 ∧ 0 ≤ i4 + 1 ∧ 0 ≤ k4].
   Matrix (m4, l4) → Num n7 → Num j4 → Num i4 → Num k4 → Bool

val unb2 :
   ∀i1, i4, j1, k1, l1, m1, n4[l1 ≤ n4 + i4 ∧ n4 ≤ l1 + 1 ∧
   k1 + 1 ≤ l1 ∧ 1 ≤ l1 ∧ j1 ≤ m1 ∧ 0 ≤ i1 ∧ 0 ≤ k1].
   Matrix (m1, l1) → Num j1 → Num n4 → Num i1 → Num k1 → Bool
