external type Matrix : num * num

external val matrix_make :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Num n → Num k → Matrix (n, k)

external val matrix_get :
   ∀n, k, i, j[0 ≤ i ∧ i + 1 ≤ n ∧ 0 ≤ j ∧ j + 1 ≤ k].
   Matrix (n, k) → Num i → Num j → Float

external val matrix_set :
   ∀n, k, i, j[0 ≤ i ∧ i + 1 ≤ n ∧ 0 ≤ j ∧ j + 1 ≤ k].
   Matrix (n, k) → Num i → Num j → Float → ()

external val matrix_dim1 :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Matrix (n, k) → Num n

external val matrix_dim2 :
   ∀n, k[0 ≤ n ∧ 0 ≤ k]. Matrix (n, k) → Num k

external val n2f : ∀n. Num n → Float

external val equal : ∀a. a → a → Bool

external val leq : ∀a. a → a → Bool

external val less : ∀a. a → a → Bool

external val minus : Float → Float → Float

external val plus : Float → Float → Float

external val mult : Float → Float → Float

external val div : Float → Float → Float

external val fl0 : Float

val main_test : ∀k, n[1 ≤ n ∧ 2 ≤ k]. Matrix (n, k) → ()
